.content {
  max-width: 1000px;
  margin: 0 auto;
}
.card-img-overlay {
  position: relative;
  bottom: 60px;
  left: 95px;
  height: 50px;
  width: 240px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 0.3px;
  text-align: center
  
}
.card-img-overlay p {
	color: white;
}